language: ruby
cache: bundler
sudo: false
rvm:
- 2.4.1
bundler_args: "-j4 --without development production --quiet"
notifications:
  notifications:
    webhooks:
      secure: AziQTqGNQCCe/673UZy3bW0XB0oGywiEAyxygTWs2Cki0lqNldgELlPg+eC+CgvCJpMXRY6PLS/MXWeu4eR/6iONnBo+So8l9wJSZasxrCwVWqI9UFZYaMXXzFTGlz2JmBJ7JigW5zxL/Y3ukqu+wjA3MytT8N5tuNdR5SYqy40=
  slack:
    secure: pEbxQLQakbPpZkU2p+FdHxSOw7BlXHrOMdJlh8g7fK2oGiOMrpU0wbRUHUxNWzxTnkqWmwq37cIFXPGLel3yWkDzDO0+EuBBFPyoiQ2THxC8/pdpIO3I6jAuH7Zqra4jIdfHWw0UkN4Z+Yqnc+Y90rf9SC7mRGucbcy5aCGEIkY=
before_script:
- bundle exec rake db:create db:schema:load RAILS_ENV=test
script:
- bundle exec rake spec
- bundle exec rake jshint
deploy:
  provider: heroku
  api_key:
    secure: pYiwd56UVWKPYDO1057KBIfZYfKKpPZ69kHIbDG1s1C/GY6mrfGRvchYGobguNw0fvhYdGkIlgZrpmwerC/EPkamKBxLjbKoL851ps+Ng7iREEPwT+t9HB1kV8yvjTsQVYHfXHtR12qi4NO3sqYTwxvkW/0cNXYgj//5+osc6/k=
  app:
    master: rgsoc-teams-production
    fix/sign-off-per-project: rgsoc-teams-staging
  run:
  - rake db:migrate
  - restart
  on:
    repo: rails-girls-summer-of-code/rgsoc-teams
addons:
  postgresql: '9.3'
after_success:
- bundle exec codeclimate-test-reporter
