language: ruby
cache: bundler
rvm:
- 2.2.1
bundler_args: "-j4 --without development production --quiet"
notifications:
  email:
  - me@svenfuchs.com
  - trung.le@ruby-journal.com
  - cz@aegisnet.de
  notifications:
    webhooks:
      secure: AziQTqGNQCCe/673UZy3bW0XB0oGywiEAyxygTWs2Cki0lqNldgELlPg+eC+CgvCJpMXRY6PLS/MXWeu4eR/6iONnBo+So8l9wJSZasxrCwVWqI9UFZYaMXXzFTGlz2JmBJ7JigW5zxL/Y3ukqu+wjA3MytT8N5tuNdR5SYqy40=
    irc:
    - irc.freenode.net#rgsoc
before_script:
- cp config/database.yml.travis config/database.yml
- bundle exec rake db:create db:schema:load RAILS_ENV=test
script:
- bundle exec rake spec
deploy:
  provider: heroku
  api_key:
    secure: pYiwd56UVWKPYDO1057KBIfZYfKKpPZ69kHIbDG1s1C/GY6mrfGRvchYGobguNw0fvhYdGkIlgZrpmwerC/EPkamKBxLjbKoL851ps+Ng7iREEPwT+t9HB1kV8yvjTsQVYHfXHtR12qi4NO3sqYTwxvkW/0cNXYgj//5+osc6/k=
  app: rgsoc-teams-production
  run:
  - rake db:migrate
  - restart
  on:
    repo: rails-girls-summer-of-code/rgsoc-teams
addons:
  postgresql: '9.3'
