<h1>Import conferences (.csv only)</h1>
<p>Importing will update existing conferences with the data from the csv file</p>

<%= form_tag import_orga_conferences_path, multipart: true, class: "form-inline" do %>
  <%= file_field_tag :file, accept: '.csv' %>
  <%= submit_tag "Import csv file", class: "btn btn-default btn-small"  %>
<% end %>