// Place all the styles related to the supervisor/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.min-height
  min-height: 42rem
  section:nth-child(2)
    min-height: 26rem

.dashboard-box
  margin-bottom: 1rem
  h3, h4, h5
    margin: 0 !important
  h4
    font-weight: bold
    padding-bottom: 0.5rem
  h5
    font-style: italic
  form
    margin-bottom: 1rem
    label
      font-weight: normal
  .background-color
    background-color: $lightestgray

section.team-title
  background-color: $lightgray
  padding: 1rem
section.dashboard
  margin: 0 1rem
  padding: 1rem 0
section.dashboard:not(:last-child)
  border-bottom: 1px solid $lightgray