- if Time.now.utc < current_season.applications_open_at
  h1 style='text-align:center;' Applications for Rails Girls Summer of Code #{current_season.name} open #{l current_season.applications_open_at, format: :long} UTC
- else
  h1 style='text-align:center;' Applications for Rails Girls Summer of Code #{current_season.name} are closed.
