= form_tag users_path, method: :get, id: "search-form" do |f|
  = text_field_tag :search, params[:search], placeholder: "Search user or team"
  = submit_tag "Go", class: "btn btn-success"
  = link_to_if(params[:search].present?, "Clear search results", users_path, class: "btn btn-default")  do
   a
   end
