= render 'conferences/table', namespace: nil, conferences: @conferences
- if can?(:crud, Conference)
  p The tech conference you're looking for is not yet in our list? Just suggest it!
  = link_to '+ New Conference', new_conference_path, class: 'btn btn-default'