- if can?(:crud, Conference)
  h3 Add a new Conference
  = link_to '+ New Conference', new_conference_path, class: 'btn btn-default'
= render 'conferences/table', namespace: nil, conferences: @conferences