nav.page
  .back-nav
    ul
      li = icon("chevron-left")
      li = link_to "Help index page", page_path("help"), class: "back"

h1 Questions Asked in RGSoC Student Application Process

p To help you prepare your student team application, here is a list of all the questions asked in the process of applying to RGSoC.

p You can apply online at <a href="https://teams.railsgirlssummerofcode.org/apply">https://teams.railsgirlssummerofcode.org/apply</a>. Draft applications can be saved and resumed.

p The application consists of five different tabs (About you, About your pair, About your project, About your team and Review and submit), which you have to fill out in order to apply.

p We offer further guidance for filling out your application form <a href="/fill-out-your-application">here</a>

h2 Basics
<ul>
  <li>Your age</li>
  <li>Your gender self-identification</li>
  <li>Special circumstances</li>
  <li>Where do you plan to live in July-September?</li>
  <li>What is your background?</li>
</ul>

h2 Background information
<ul>
  <li>What is your background?</li>
  <li>How did you get into programming?</li>
</ul>

h2 Community Involvement
<ul>
  <li>Tell us about your community involvement</li>
  <li>What do you think you could give back to the community?</li>
</ul>

h2 Programming Skills
<ul>
  <li>Short summary of your programming skills</li>
  <li>What is your programming level? [out of 5]</li>
  <li>For how many months have you been learning the language of your primary project?</li>
  <li>What you have been doing to learn programming</li>
  <li>Provide examples of your code</li>
</ul>

h2 Goals and motivation
<ul>
  <li>What do you want to achieve by the end of the summer?</li>
  <li>Why are you applying to this program?</li>
</ul>

h2 Financial matters
<ul>
  <li>How much money, in USD, do you need per month?</li>
  <li>Break down your costs, or point out any special circumstances which require a higher budget than what you've selected above or than what is usual for your city</li>
</ul>

h2 Projects
<ul>
  <li>The following questions are asked individually about an applicant’s first and second choice of project.</li>
</ul>

Project choice
<ul>
  <li>Why did you select this project?</li>
  <li>Which features are you planning to work on?</li>
</ul>

h2 Team
<ul>
  <li>How are you planning to work together?</li>
</ul>

h2 Work Weeks
<ul>
  <li>Work weeks [full-time (40 hours per week)/part-time (20 hours per week)]</li>
  <li>Work week explanation</li>
</ul>

h2 Miscellaneous
<ul>
  <li>How have you heard about the program?</li>
  <li>Anything else to add?</li>
</ul>
