h1 How to create an account and a team

h2 Create an account

= image_tag("pages/application_sign_in.png")

p If you don't have a <a href="https://github.com" target="_blank">GitHub</a> account yet, please create one.  

h2 Edit / Create your team

p You'll find your team page under the menu button "Teams"

= image_tag("pages/application_teams.png")

p If you don't already belong to a team, click on "+ New team" in order to create one. 

= image_tag("pages/application_new_team.png")

h3 Add a student or coach to your team

p In order to add someone to your team, click "add a member".

= image_tag("pages/application_add_member.png")

p Fill in the GitHub handle and select the role that the person should have. It can be a student:

= image_tag("pages/application_add_member_student.png")

p or a coach. 

= image_tag("pages/application_add_member_coach.png")

p The coaches will get a notification via email to confirm their participation. If they confirmed, it will look say so on your teams page:

= image_tag("pages/application_coach_confirmed.png")

p Now you are ready for the next step: Fill out your application. 