nav.page
  .back-nav
    ul
      li = icon("chevron-left")
      li = link_to "Help index page", page_path("help"), class: "back"

h1 How to fill out your application

h2 Workflow

p You can save your application at any stage as a draft and come back to filling it out later. You'll find the "Save as draft" button at the end of the page you're on.

= image_tag(("pages/application_safe_as_draft.png"), class: "help-image")

p You'll find the "Check validity" button in the last section ("Review and Submit") of the application form. You can click it in order to check if your application is ready for submission. The app will tell you about any missing information.

= image_tag(("pages/application_check_validity.png"), class: "help-image")

h2 Your Application form

p  You can find your application in the menu, under "My application":

= image_tag(("pages/application_my_application.png"), class: "help-image")

h3 The structure of the application form

p The application consists of five different tabs (About you, About your pair, About your project, About your team and Review and submit), which you have to fill out in order to apply.

= image_tag(("pages/application_five_tabs.png"), class: "help-image")

h3 About yourself

p In this section you can tell us about yourself, your background and your personal info.

= image_tag(("pages/application_about_yourself.png"), class: "help-image")


p Please fill out all the text fields, they are all obligatory!

h3 About your pair

p In this section you'll see what information your pair has filled out, but you won't be able to edit those fields.

= image_tag(("pages/application_about_your_pair.png"), class: "help-image")


h3 About your project

p In this section you have to choose the primary (and secondary) project that you want to apply for during RGSoC. Please fill out all the text fields, they are all obligatory!

= image_tag(("pages/application_about_your_project.png"), class: "help-image")

p You can find the list of all projects here under "Projects" in the menu:

= image_tag(("pages/application_projects.png"), class: "help-image")

p You can also see how many teams already applied for your project:

= image_tag(("pages/application_projects_count.png"), class: "help-image")

h3 About your team

p In this section you can tell us more about why you and your pair are a good fit and how you're planning to work together during the three months of the program. Please fill out all the fields!

= image_tag(("pages/application_about_your_team.png"), class: "help-image")


p In the section "Working together" we want to know where you plan to work, how you're going to deal with the day-to-day organization of your work and how you're planning to structure your days, weeks and months. Are you planning daily standups? Do you work from a coworking space? Are you drafting a road map together? How will you evaluate if you are successful? Any project management and self management skills you might have or have learned from experience? Tell us about it!

= image_tag(("pages/application_working_together.png"), class: "help-image")

p In the field “Anything else to add?” you can add any information you think is relevant to your application. This is also the field where you can add information about your coaching company (if you have one).

= image_tag(("pages/application_anything_else.png"), class: "help-image")
p
  b Important Info:
  ' Please don't name your coaching company in this field; your coaches may, however, add the name of your coaching company to their profiles and/or select “I represent a company” when editing their profile.


h3 Review and Submit

p If you have all fields of the application form filled out and you're ready to verify your submission, you can go to the last tab called "Review and Submit". Clicking the "Check Validity" button will tell you if your application is ready to be submitted.

= image_tag(("pages/application_review_submit.png"), class: "help-image")
