markdown:
  ## Help

  ### Guides

  ul
    li
      a href="http://railsgirlssummerofcode.org/students/application/" Application Guide

    li
      a href="http://railsgirlssummerofcode.org/guide/coaching/" Coaches Guide  

    li
      a href="http://railsgirlssummerofcode.org/guide/projects/" Mentor's Guide  

  #### Your own account

  Signing in through GitHub will create a user account on our side. If your account
  has already been added by one of your team mates then you'll claim your account
  by signing in through GitHub.

  Once signed in you can update your profile information. Please tell the
  community a little bit about you, maybe tell why you're participating, what you
  hope to get out of this, etc.

  #### Your team's profile

  On the [teams list](/teams) check if your team has already been added. If you're
  already part of this team then you can edit your team's profile.

  If you haven't been added to your team, yet, then ask one of the members to
  sign in and add you. They will need your GitHub handle for that (the GitHub
  handle is your user/login name, the one that appears in the URL when you go to
  your GitHub account).

  Please work with your team to make sure that your team's profile tells the
  community about your project plan, how and where you plan to work, ... everything
  that might be useful or fun to know :)

  If your team has a GitHub organization (you might want one and they're free
  for Open Source) then please add the handle. If your team has a Twitter
  account, then please add it, too.

  #### Your team's sources

  Your team can register "sources" from which this application will try to
  aggregate updates.

  Please add your team log and any other blog that is relevant for your team,
  by registering its RSS or Atom feed URLs. Read more about the
  [team log here ...](http://railsgirlssummerofcode.org/team-log)

  Please also add all the GitHub repository URLs that you are planning to
  work on as sources.  Currently this won't actually do anything, yet, but we
  plan to aggregate information from there, too.

  #### Just ask!

  If you think something is unclear or should be improved, or if you find a
  bug, then please [report an issue](https://github.com/rails-girls-summer-of-code/rgsoc-teams/issues).

  Or email us at [summer-of-code@railsgirls.com](mailto:summer-of-code@railsgirls.com)
