h1 Privacy Policy

em Last updated: May 25th, 2018

h2 Introduction
p We take the protection of our users (“User/you/your”) personal data very seriously and strictly comply with applicable data protection laws and regulations. In our privacy policy below (“Privacy Policy”) we provide you with an overview of what data we collect for what purpose and how we ensure the protection of the data. 

p The controller is <strong>Travis Foundation gUG (haftungsbeschränkt)</strong>, Rigaer Straße 8, 10247 Berlin/Germany, registered at the local court (Amtsgericht) of Charlottenburg under HRB 158047 B), represented by Nicole Hintner (“we/us/our”).

h2 Information gathering and usage

p When registering for the <a href="https://teams.railsgirlssummerofcode.org">Rails Girls Summer of Code Teams Application</a> (referred to as RGSoC from now), we collect personally identifiable information such as your GitHub username and email address.

p In your profile, we distinguish between “public” (visible to other users as well as non-logged-in users) and “private” (only visible to administrators) information. Some required information in your profile, such as your Github username and your country, will be public. Other information you fill out, such as your address and T-Shirt size, are optional and private. Other optional information you may choose to provide in order to use the website includes but is not limited to: your city, twitter username, an “about you” paragraph, and your interests and technologies; this information will be visible on your public profile. Finally, while your email address is required to create a profile, it is not visible to other users. 

p If you apply for an RGSoC scholarship, we may also collect information such as your geolocation (only city), your age range, financial information (how much of a stipend you require monthly) and any diversity information that may need to be taken into account and that you wish to disclose with us (such as gender, sexual identity, health information). This data is used to rate applications and adapt the stipend to your requirements.
br If you are a member of the selection committee, we collect your comments and ratings to the applications in order to process and evaluate applications.
br If you are accepted into the RGSoC program as a participant, we may also collect your full name and address, as well as your T-Shirt size (required to send sponsor swag packages to you). 
br If you are a supervisor or an organiser, we may also collect your full name and address, as well as your T-Shirt size, for sponsor swag package purposes.
br Your sensitive information is only used internally and won't be shared with others.

p The RGSoC Teams App also collects aggregated, anonymous user data regarding app usage. The user data we collect is used to improve our platform and the quality of our service. We only collect personal data that is required to provide our services, and we only store it insofar that it is necessary to deliver these services.


h2 Your data
p The RGSoC Teams App uses third-party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Teams App, such as Heroku for storing your data and GitHub for the purpose of further developing our RGSoC Teams App. Although RGSoC owns the databases for the RGSoC Teams application, you retain all rights to your data. We will never share your personal data with a 3rd party without your prior authorization, and we will never sell data to third-parties. We transfer data with third-parties necessary to our ability to provide our services, all of whom are GDPR-compliant and provide the necessary safeguards required if they are outside of the EU.


h2 Your rights
p For further information on your rights, to withdraw consent, or to ask for deletion of your data, you can contact us at #{mail_to('contact@rgsoc.org')}.

h3 Right of access
p You have the right to be informed at any time and free of charge about the personal data stored about you. 

h3 Right to rectification
p You have the right to rectify inaccurate personal data about you. Taking into account the purposes of the processing, you have the right to have incomplete personal data completed (for example, by providing an additional statement).

h3 Right to be forgotten
p 
  ' You have the right to have us delete any personal data concerning you that we store. 
  br We have the obligation to erase your personal data without undue delay where one of the following grounds applies, as long as the processing is not necessary:
  .basic-list
    ul
      li The personal data are no longer necessary in relation to the purposes for which they were collected or otherwise processed
      li The User withdraws consent to which the processing is based according to point (a) of Article 6(1) of the GDPR, or point (a) of Article 9(2) of the GDPR, and where there is no other legal ground for the processing
      li The User objects to the processing pursuant to Article 21(1) of the GDPR and there are no overriding legitimate grounds for the processing, or the User objects to the processing pursuant to Article 21(2) of the GDPR
      li The personal data have been unlawfully processed
      li The personal data must be erased for compliance with a legal obligation in Union or Member State law to which we are subject
      li The personal data have been collected in relation to the offer of information society services referred to in Article 8(1) of the GDPR

h3 Right to data portability
p You have the right to ask for and receive the personal data we store about you in a structured, commonly used and machine-readable format. You also have the right to transfer this data to another controller without hindrance by the controller to whom the personal data have been provided, provided that the processing is based on a consent or on a contract to which the data subject is a party and that the processing is carried out by means of automated procedures.

p Furthermore, in exercising your right to data portability, you have the right to have personal data transmitted directly from one controller to another where technically feasible — and when doing so does not affect the rights and freedoms of others.

h3 Right to withdraw consent
p You have the right to withdraw your consent regarding the use, processing or transmission of your data at any time in writing or by email to us. 
p In the event of consent withdrawal, we will no longer process and immediately delete your stored data. This does not apply if we can prove compelling grounds for processing that are worthy of protection and which outweigh your interests, rights and freedoms or in case the processing serves to assert, exercise or defend legal claims. For example, we will continue to use data if it is still necessary for the implementation of the contractual relationship (including, but not limited to, if you are granted a scholarship from RGSoC).

h2 Duration of the storage of personal data

p We only store your personal data for as long as your account is active or otherwise for a limited period of time as long as it is necessary for the execution of the respective purpose.

p Criteria for the storage period include whether the data are still up-to-date, whether a contractual relationship with us still exists, whether an inquiry has already been processed, whether a process has been completed or not, and whether legal retention periods for the personal data concerned are relevant or not.


h2 Cookies and similar technologies

p We use cookies to store user preferences, customize webpage content based on user browser type or other information that the user sends. You can control the use of cookies at the individual browser level, but if you choose to disable cookies, it may limit your use of certain features or functions on our website.

h2 Ad servers

p We do not partner with or have special relationships with any ad server companies.

h2 Security

p All data and information transmitted within the RGSoC Teams App is secured by SSL protocol.

h2 Links to Other Websites

p Our website contains links to other websites. The fact that we link to a website is not an endorsement, authorization or representation of our affiliation with that third-party. We do not exercise control over third-party websites. These other websites may place their own cookies or other files on your computer, collect data or solicit Personal Information from you. Other sites follow different rules regarding the use or disclosure of the Personal Information you submit to them. We are not responsible for the content, privacy and security practices, and policies of third-party sites or services to which links or access are provided through the Service. We encourage you to read the privacy policies or statements of the other websites you visit.

h2 Changes

p If our information practices change in the future, we will post the policy changes to our website to notify you of these changes, indicating the date of the latest revision. We will only use data collected from the time of the policy change forward for these new purposes. If you are concerned about how your information is used, you should check back at our website periodically.


