<div id="login-required-overlay">

  <div class="well">
    <h1>Login Required</h1>
    <p>This action on the RGSoC Teams App requires a user account.</p>
    <p>
      <%= link_to user_github_omniauth_authorize_path, class: "btn btn-primary btn-lg" do %>
        <i class="icon-github"></i>&nbsp;Login with Github
      <% end %>
      <%= link_to "Cancel", root_path, class: "btn btn-lg" %>
    </p>
  </div>

</div>
