development:
  adapter: postgresql
  database: rgsocteams_development
  host: localhost

test:
  adapter: postgresql
  database: rgsocteams_test
  host: localhost
  min_messages: error

production:
  adapter: postgresql
  database: rgsocteams_production
  host: localhost
