= CSV.generate_line(\
    ['ID',
      'Application',
      'Project1',
      'Project2',
      'Location',
      'CoachingCompany',
      'Money1',
      'Money2',
      'Work Weeks',
      'Flags',
      'Signoff Project1',
      'Signoff Project2',
      'Fav Project1',
      'Fav Project1',
      'Picks',
      'Likes',
      'AveragePoints',
      'MedianPoints',
      'StrictnessCorrectedPoints',
      'Ratings',
      'Misc'],
    force_quotes: true\
  ).html_safe

- @table.applications.each do |a|
  = CSV.generate_line(\
      [a.id,
        a.team_name, a.project1&.name,
        a.project2&.name,
        a.application_data.values_at('student0_application_location', 'student1_application_location').uniq.join(' / '),
        a.coaching_company,
        a.application_data['student0_application_money'],
        a.application_data['student1_application_money'],
        WorkWeek.where(id: a.application_data.work_week_ids).map(&:human_readable_label),
        a.flags.join(' / '),
        a.application_data['signed_off_at_project1'].present?,
        a.application_data['signed_off_at_project2'].present?,
        (a.application_data['mentor_fav_project1'].to_s == 'true'),
        (a.application_data['mentor_fav_project2'].to_s == 'true'),
        a.total_picks,
        a.total_likes,
        a.average_points,
        a.median_points,
        @strictness[a.id],
        a.ratings_short.join(' / '),
        a.misc_info],
      force_quotes: true\
    ).html_safe
