- if Time.now.utc < current_season.applications_open_at
  h1 style='text-align:center;' Applications for RGSoC #{current_season.name} open #{l current_season.applications_open_at, format: :long}
- else
  h1 style='text-align:center;' Applications for RGSoC #{current_season.name} are closed.
