
<!-- NEXT STEP : This should only show in dev mode; add that to ... (controller?) </h5> -->

<br/>

<hr>
<h3> For development: select season </h3>

<p>You still have to adjust the dates in the table above manually.
<p>E.g. to work in the Application Form, set the application dates for 2016 to the current month. That will open all
  options re: the application phase, in the menu, the applicationsControllers etc.
<p>Then, select season 2106 in the list below.
</p>
<hr>

<h3> Switch season</h3>
<% switch_seasons %>

<%= form_tag do %>
<select class="form-control">
  <% @seasons.each do |s| %>
  <option><%= s.name %></option>
      <% end %>
</select>
<% end %>
<p></p>
