nav.navigation
  @extend .navbar, .navbar-inverse, .navbar-static-top

  @media (min-width: 1200px)
    .container
      width: 1130px

  a.dropdown-toggle-img
    @extend .dropdown-toggle
    padding: 2px
    margin: 0

    img
      @extend .img-rounded, .hidden-xs
      padding: 2px
      max-height: 46px

  li.divider + li.divider
    display: none

  ul.dropdown-menu > li.divider:first-of-type
    display: none

.navbar__home
  @extend .navbar-brand

  padding: 0px

.navbar__home__logo
  height: 100%
  padding: 5px
  width: auto
