= @user.postal_address.line1.titlecase + " " + @user.postal_address.line2.titlecase + " "
= @user.postal_address.city.titlecase + ", " + @user.postal_address.state.titlecase + " "
= @user.postal_address.zip + " " +@user.postal_address.country
