- application   = @application
- ad            = application.data
- student       = @student
- student_index = application.team.student_index(student)
- pair_index    = student_index.zero? ? 1 : 0
- pair          = application.team.students[pair_index]

h2 About yourself

h3 Basics

b = I18n.t('simple_form.labels.student.name')
p = student.name

b = I18n.t('simple_form.labels.student.application_age')
p = auto_link(show_or_na(ad.public_send("student#{student_index}_application_age")))

b = I18n.t('simple_form.labels.student.application_gender_identification')
p = auto_link(show_or_na(ad.public_send("student#{student_index}_application_gender_identification")))

b = I18n.t('simple_form.labels.student.application_diversity')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_diversity"))))

b = I18n.t('simple_form.labels.student.application_location')
p = auto_link(show_or_na(ad.public_send("student#{student_index}_application_location")))

h3 Background Information

b = I18n.t('simple_form.labels.student.application_about')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_about"))))

b = I18n.t('simple_form.labels.student.application_code_background')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_code_background"))))

h3 Community Involvement

b = I18n.t('simple_form.labels.student.application_community_engagement')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_community_engagement"))))

b = I18n.t('simple_form.labels.student.application_giving_back')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_giving_back"))))

h3 Your Programming skills

b = I18n.t('simple_form.labels.student.application_skills')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_skills"))))

b = Application.data_label("student0_application_coding_level")
p = auto_link(show_or_na(ad.public_send("student#{student_index}_application_coding_level")) + "/5")

b = I18n.t('simple_form.labels.student.application_language_learning_period')
p = auto_link(show_or_na(ad.public_send("student#{student_index}_application_language_learning_period"))+ " months")

b = I18n.t('simple_form.labels.student.application_learning_history')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_learning_history"))))

b = I18n.t('simple_form.labels.student.application_code_samples')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_code_samples"))))

h3 Your Goals and motivation

b = I18n.t('simple_form.labels.student.application_goals')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_goals"))))

b = I18n.t('simple_form.labels.student.application_motivation')
= simple_format(auto_link(show_or_na(ad.public_send("student#{student_index}_application_motivation"))))

h3 Financial matters

b = I18n.t('simple_form.labels.student.application_money')
p = auto_link(show_or_na(ad.public_send("student#{student_index}_application_money")) + " USD")

b = I18n.t('simple_form.labels.student.application_minimum_money')
p = auto_link(show_or_na(ad.public_send("student#{student_index}_application_minimum_money")))

/ second student

h2 About your pair

h3 Basics

b = I18n.t('simple_form.labels.student.name')
p = pair.name

/ addd rest here

h3 Financial matters

i This section is private.

h3 About your project

- project1 = Project.find_by(id: ad.project1_id)

b = Application.data_label("project1_id")
p = link_to_if project1, project1.try(:name), project1

b = Application.data_label("why_selected_project1")
= simple_format(auto_link(show_or_na(ad.why_selected_project1)))

b = Application.data_label("plan_project1")
= simple_format(auto_link(show_or_na(render_markdown(ad.plan_project1))))

- project2 = Project.find_by(id: ad.project2_id)

b = Application.data_label("project2_id")
p = link_to_if project2, project2.try(:name), project2

b = Application.data_label("why_selected_project2")
= simple_format(auto_link(show_or_na(ad.why_selected_project2)))

b = Application.data_label("plan_project2")
= simple_format(auto_link(show_or_na(render_markdown(ad.plan_project2))))

h3 About yout team

b = Application.data_label("working_together")
= simple_format(auto_link(show_or_na(ad.working_together)))

- if ad.voluntary == 'true'
  b = Application.data_label("voluntary")
  p = show_or_na(ad.voluntary)

  b = Application.data_label("voluntary_hours_per_week")
  p = show_or_na(ad.voluntary_hours_per_week)

b = Application.data_label("heard_about_it")
p = auto_link(show_or_na(ad.heard_about_it))

b = Application.data_label("misc_info")
= simple_format(auto_link(show_or_na(ad.misc_info)))
