// Place all the styles related to the ApplicationForm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio {
  display: inline-block;
}
p.help-block {
  display: block;
}

.controls {
  display: block;
}
