/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "vars-bootstrap"
@import "vars-font_awesome"
@import "bootstrap"
@import "font-awesome"

@mixin icon($icon)
  content: $icon
  display: inline-block
  width: 1em
  text-decoration: inherit
  font-family: FontAwesome
  font-size: 0.8em
  font-weight: normal
  font-style: normal
@mixin icon-before($icon)
  &:before
    @include icon($icon)
    margin-right: 0.5em
@mixin icon-after($icon)
  &:after
    @include icon($icon)
    margin-left: 0.5em

*
  box-sizing: border-box

body
  z-index: 0
  position: relative
  width: 1026px
  margin: 0 auto
  &:before
    z-index: -1
    position: absolute
    left: -500%
    top: 0
    width: 1000%
    height: 66px
    background-color: rgb(222, 57, 12)
    content: ' '

li
  list-style-type: none


header
  h1
    display: inline-block
    margin: 0
    width: 210px
    height: 58px

    a
      display: block
      overflow: hidden
      width: 210px
      height: 58px
      line-height: 4em
      background-image: url(/assets/header_logo.png)
      background-repeat: no-repeat
      background-position: 0px 7px

  nav
    clear: right
    float: right
    @include clearfix

    &.top
      ul
        text-align: center
        position: relative
        top: 5px

      li
        display: inline-block
        margin: 1em 0 0 0

        &:last-child:after
          content: none

        &:after
          content: ''
          display: inline-block
          height: 20px
          width: 40px
          background: url(/assets/star.png) 16px 8px no-repeat

        a
          display: inline-block
          height: 48px
          color: white
          text-decoration: none

          &.active
            text-decoration: underline
            background-image: url(/assets/header_nav_active.png)
            background-repeat: no-repeat
            background-position: center 32px
            text-decoration: none

    &.user
      font-size: 0.9em
      color: $gray

nav
  .back:before
    content: '\2190'
    display: inline-block
    position: absolute
    margin-left: -1.5em
    margin-top: -1px

  &.page
    font-size: 0.9em

  &.actions
    clear: right
    float: right
    margin-top: 1em
    font-size: 0.9em

#content
  margin-top: 3em

  h1
    font-size: 2em

  h3
    font-size: 1.25em
    margin-bottom: 0

  h4
    font-size: 1.15em

.activities
  h4
    margin: 0
    font-size: 1em
    font-weight: normal
    @include icon-before('\f040')
  .info
    padding-left: 1.5em
    font-size: 0.9em

.pages
  #content
    width: 700px

  aside
    position: absolute
    right: 0
    width: 220px
    ul
      margin-left: 0

.sources, .profile .teams, .profiles
  li
    list-style-type: disc

.profile
  img
    float: left
    width: 180px
    height: 180px
    margin-right: 2em
    border-radius: 10px

  dl
    margin-bottom: 1em
    @include clearfix
  dt
    float: left
    width: 100px
    font-weight: normal

.team
  &.sponsored
    @include icon-after($star-empty)

.hint
  font-size: 0.9em
  color: #666
  i
    margin-right: 0.25em


form
  position: relative
  // hrmmm
  input, select, textarea
    margin-bottom: 0 !important
    font-size: 0.9em !important
  input
    height: auto !important
  input[type=radio]
    margin-left: 0 !important
    margin-right: 0.5em !important
  textarea
    width: 100%
    height: 200px
  label.radio
    display: inline-block
    padding-left: 0
    padding-right: 1em

  .help-block
    font-size: 0.8em

  h4
    margin-top: 2em

  .members, .sources
    display: table
    margin-bottom: 1em
    .header, & > .fields
      display: table-row
    label, .control-group
      display: table-cell
      padding: 0 1em 0.5em 0
  .members
    & > .fields:nth-of-type(2) a.remove_nested_fields
      display: none
    a
      font-size: 0.9em

// Error message on submit
#error_explanation
  border: 1px solid #ccc
  padding: 10px 20px
  background-color: red
  color: #fff
  margin-bottom: 30px
  font-size: 0.9em

  h2
    font-size: 1em

.field_with_errors input
  border-color: red

// page-header

h1.header
  i, span
    display: inline-block
  span
    margin-left: 10px
