// Place all the styles related to the ApplicationForm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.applications h1.header {
  margin-top: 2em;
}

.attention {
  margin-top: 3em;
}

.new_application {
  width: 66%;
}

.application-form {
	padding: 2em 0 2em;
}

.radio {
  display: inline-block;
}

p.help-block {
  display: block;
}

.controls {
  display: block;
}

.skill-level:before {
	content: "never coded before"
}

.skill-level:after {
	content: "junior developer or better";
	margin-left: 0.5em;
}
