// Global styles
//
// Site-wide used styles.

// For debugging purposes
// *
//   border: 1px solid blue

html, body
  color: $main
  font-family: Lato, sans-serif
  font-size: 15px
  // For sticky footer
  height: 100%

  a, a:hover
    color: $railsred
    color: $railsred

  a:hover
    i
      text-decoration: none

  li
    list-style-type: none

  .text-right
    text-align: right

  .back-nav
    ul
      padding: 0
    li
      display: inline-block
      color: $railsred

.nav.nav-tabs
  a
    outline: 0

// For sticky footer
#wrap
  min-height: 100%
  height: auto
  // Negative indent footer by its height
  margin: 0 auto -60px
  // Pad bottom by footer height
  padding: 0 0 60px

#footer
  footer
    border-top: 1px solid $lightgray
    margin-top: 2em
    text-align: center
    height: 60px
    ul
      margin-top: 18px
    li
      display: inline-block
      &:after
        content: ''
        width: 2rem
        font-family: FontAwesome
        font-size: 0.7rem
        color: $lightgray
        margin: 0 0.6rem 0 0.6rem
      &:last-child:after
        content: none

#content
  margin-top: 1rem

  h1
    font-size: 2rem
    margin: 2rem 0 1rem 0

  h2
    font-size: 1.5rem

  h3
    font-size: 1.25rem
    margin-bottom: 1rem
    // Used by Bootstrap popovers (search data-toggle="popover")
    &.popover-title
      margin-bottom: 0

  h4
    font-size: 1.15rem

  p
    margin-bottom: 1em
  p:last-child
    margin-bottom: 0

  .selection-box
    background-color: $lightestgray
    padding: 2rem
    margin-bottom: 3rem
    border: 1px solid $lightgray

  .profile
    margin-top: 2em
    img
      float: left
      width: 180px
      height: 180px
      margin-right: 2em

  .profile, .mailing
    dl
      // margin-bottom: 1em
      @include clearfix
    dt
      float: left
      width: 100px
      font-weight: normal

  .sources, .teams, .profiles, .attendees, .conferences, .status_update, .projects, .toc, .basic-list
    li
      list-style-type: disc
      p, ul
        margin: 0
      .actions
        li
          display: inline-block
          font-size: 0.8em
          list-style-type: none
          &:first-child:after
            content: ' · '
            padding-right: 0.3em

  table
    th
      white-space: nowrap

    td
      vertical-align: top
      ul
        margin: 0

    td.image
      width: 40px
      img
        width: 40px
        height: 40px

    .user
      display: block
      img
        width: 20px
        height: 20px

    &.conferences
      font-size: 0.9em
      td
        max-width: 300px
        word-wrap: normal
      td:nth-child(4)
        white-space: normal
        a
          white-space: nowrap
        a:not(.confirmed)
          @include icon-after($question-sign)
          &:after
            color: $gray
            font-size: 0.9em
            text-decoration: none !important

  .mailing
    dt
      width: 70px
    dt, dd
      color: $gray
    .body
      margin-bottom: 1em
      padding: 2em
      border: 1px solid $gray
      li
        list-style-type: disc
      *:last-child
        margin-bottom: 0

  // TODO: .comment(s) used anywhere? application?
  .comments
    top: 180px
    width: 300px
    ul
      margin-left: 0

  .comment
    h3
      font-size: 1.4rem
      font-weight: bold
    p
      font-size: 1.3rem

  // TODO: .information possibly unused
  .information
    ul
      padding-left: 0

  .pagination-info
    color: $gray

// .well is the grey-ish box, e.g. Private info in users/show
.well h3
  padding: 0
  margin-top: 0

.twitter
  @include icon-after($twitter)

form
  .help-block
    font-size: 0.9em

  h4
    margin-top: 2em

  .members, .sources, .conferences, .attendees
    display: table
    margin-bottom: 1em
    .header, & > .fields
      display: table-row
    label, .control-group
      display: table-cell
      padding: 0 1em 0.5em 0
  .members
    & > .fields:nth-of-type(2) a.remove_nested_fields
      display: none
    a
      font-size: 0.9em

  &.edit_user
    input[type="checkbox"]
      width: inherit

.form-inline
  .radio
    padding-right: 15px
    input
      margin-right: 5px

@media (max-width: $screen-sm)
  .form-inline
    .radio
      input[type=radio]
        position: inherit
        margin-left: 0

.filter
  .form-control
    margin-left: 5px

@media (min-width: $screen-sm)
  .filter
    .team_filter
      float: right
      margin-top: -5px
    .form-control
      margin-left: 0

.actions
  margin-top: 1em

// Error message on submit
#error_explanation
  border: 1px solid $railsred
  padding: 10px 20px
  background-color: $lightgray
  color: $main
  margin-bottom: 30px
  font-size: 0.9em

  h2
    font-size: 1.1em
    color: black

.field_with_errors input
  border-color: $railsred

// page-header
h1.header, h2.header
  i, span
    display: inline-block
  span
    margin-left: 10px

// Used with teams/show, nav, …
.user
  margin: 0 10px 10px 0
  display: inline-block
  @media screen and (max-width: $screen-sm)
    margin: 0


  img
    width: 40px
    margin-right: 5px
    vertical-align: middle

// Supervisor Comments

.comments
  h5
    font-style: italic
    margin-bottom: 0
